* {
    margin: 0px;
    padding: 0px;    
}

body {
    background-color: #eee;
    color: #333;
}

.site {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}

.sidebar {
    float: left;
    width: 100px;
    padding-top: 30px;
    padding-right: 30px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:link {
    text-decoration:none;
}

.sidebar a:visited {
    text-decoration:none;
    color: #333;
}

.sidebar_list {
    list-style-type: none;
    text-align: right;
}

.sidebar_list a {
    text-decoration: none;
}

.sidebar_list a:link {
    text-decoration:none;
}

.sidebar_list a:visited {
    text-decoration:none;
}

.sidebar_list a:hover {
    text-decoration:underline;
}

.content {
    margin-left: 150px;
    min-height: 200px;
    max-width: 600px;
}

.footer {
    text-align: center;
}

.brief_about {
    padding-top: 3em;
}

.brief_projects h1 {
    padding-top: 1em;
    font-size: 16pt;
    padding-bottom: 5px;
}

